<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
       user: current_user
     ).html_safe %>
  <% end %>
</script>

<script type='text/javascript'>
  window.splashPicture = "<%= (image_url('splash_page.png')) %>"
  window.owl = "<%= image_url('owl.png') %>"
  window.pic1 = "<%= image_url('pic1.png') %>"
  window.pic2 = "<%= image_url('pic2.png') %>"
  window.pic3 = "<%= image_url('pic3.png') %>"
  window.airbase = "<%= image_url('airbase.jpg') %>"
  window.fbpic = " <%= image_url('fbpic.jpg') %>"
  window.github = " <%= image_url('baracktocat.jpg') %>"
  window.missingPost = " <%= image_url('missing-post.png') %>"

</script>


<div id="root">
</div>
